{% extends "common/base.html" %}
{% load static %}

{% block title %}
    Dashboard - NiceAdmin Bootstrap Template
{% endblock %}
{% block scripts %}
    {% if user.is_space_owner %}
        <script>
            var csrfToken = "{{ csrf_token }}";
        </script>
        <script src="{% static 'assets/js/spaces-operations.js' %}"></script>
        <script>
            $('form#addManagerForm')[0].addEventListener('submit', addManager);
            $('form#addWriterForm')[0].addEventListener('submit', addWriter);
            {% if request.GET.tab %}
                $("[data-bs-toggle][data-bs-target='#{{ request.GET.tab }}']").click()
            {% endif %}
        </script>
    {% endif %}
{% endblock %}
{% block content %}

    {% include "common/header.html" %}

    {% include "common/sidebar.html" %}

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Space Overview </h1>
        </div><!-- End Page Title -->
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Space</li>
                <li class="breadcrumb-item active">{{ space.owner.get_full_name }}</li>
            </ol>
        </nav>

        <section class="section profile">
            <div class="row">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#space-overview">
                                    Owner
                                </button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#space-managers">Managers
                                </button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#space-writers">
                                    Writers
                                </button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#space-files">
                                    Files
                                </button>
                            </li>
                            {% if user.is_space_owner %}
                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#space-admin">
                                        Admin settings
                                    </button>
                                </li>
                            {% endif %}

                        </ul>
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-overview" id="space-overview">
                                <h5 class="card-title">Owner</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                    <div class="col-lg-9 col-md-8">{{ space.owner.get_full_name }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8">{{ space.owner.email }}</div>
                                </div>

                            </div>
                            <div class="tab-pane fade profile-edit pt-3" id="space-managers">
                                {% if user.is_space_owner %}
                                    <form id="addManagerForm" action="{% url 'spaces_api:spaces_manager' %}">
                                        <div class="row mb-3">
                                            <div class="col-md-3 col-sm-12">
                                                <label for="inputManagerEmail" class="col-form-label">Add
                                                    Manager</label>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <input type="email" required
                                                       pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
                                                       id="inputManagerEmail" class="form-control"
                                                       placeholder="Manager's Email">
                                            </div>
                                            <div class="col-md-3 col-sm-12">
                                                <button type="submit" form="addManagerForm"
                                                        class="btn btn-primary w-100">
                                                    Add Manager
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                {% endif %}
                                <!-- Profile Edit Form -->
                                <table class="table" id="managers-table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        {% if user.is_space_owner %}
                                            <th scope="col">Remove</th>
                                            <th scope="col">Remove and Delete</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody action-url="{% url 'spaces_api:spaces_manager' %}">
                                    {% for manager in space.managers.all %}
                                        <tr id="managers-entry-{{ forloop.counter }}">
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ manager.get_full_name }}</td>
                                            <td>{{ manager.email }}</td>
                                            {% if user.is_space_owner %}
                                                <td>
                                                    <button class="btn btn-danger"
                                                            table-row-id="#managers-entry-{{ forloop.counter }}"
                                                            email="{{ manager.email }}"
                                                            onclick="removeManager(this, false)"
                                                    >Remove
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger"
                                                            table-row-id="#managers-entry-{{ forloop.counter }}"
                                                            email="{{ manager.email }}"
                                                            onclick="removeManager(this, true)"
                                                    >Remove and Delete
                                                    </button>

                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% empty %}
                                        No Managers assigned
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade profile-edit pt-3" id="space-writers">
                                {% if user.is_space_owner %}
                                    <form id="addWriterForm" action="{% url 'spaces_api:spaces_writer' %}">
                                        <div class="row mb-3">
                                            <div class="col-md-3 col-sm-12">
                                                <label for="inputWriterEmail" class="col-form-label">Add
                                                    Writer</label>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <input type="email" required
                                                       pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
                                                       id="inputWriterEmail" class="form-control"
                                                       placeholder="Writer's Email">
                                            </div>
                                            <div class="col-md-3 col-sm-12">
                                                <button type="submit" form="addWriterForm"
                                                        class="btn btn-primary w-100">
                                                    Add Writer
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                {% endif %}
                                <!-- Profile Edit Form -->
                                <table class="table" id="writers-table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        {% if user.is_space_owner %}
                                            <th scope="col">Remove</th>
                                            <th scope="col">Remove and Delete</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody action-url="{% url 'spaces_api:spaces_writer' %}">
                                    {% for writer in space.writers.all %}
                                        <tr id="writers-entry-{{ forloop.counter }}">
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ writer.get_full_name }}</td>
                                            <td>{{ writer.email }}</td>
                                            {% if user.is_space_owner %}
                                                <td>
                                                    <button class="btn btn-danger"
                                                            table-row-id="#writers-entry-{{ forloop.counter }}"
                                                            email="{{ writer.email }}"
                                                            onclick="removeWriter(this, false)"
                                                    >Remove
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger"
                                                            table-row-id="#writers-entry-{{ forloop.counter }}"
                                                            email="{{ writer.email }}"
                                                            onclick="removeWriter(this, true)"
                                                    >Remove and Delete User
                                                    </button>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% empty %}
                                        No Writers assigned
                                    {% endfor %}

                                    </tbody>
                                </table>

                            </div>
                            <div class="tab-pane fade profile-edit pt-3" id="space-files">
                                {% if fileUploadForm %}
                                    <div class="alert alert-warning">
                                        The size of the should not exceed 24MBs.
                                    </div>
                                    <form id="uploadDocumentForm" class="row mb-3"
                                          action="{% url 'spaces_file_upload' space_id=space.pk %}"
                                          enctype="multipart/form-data" method="post">
                                        {% csrf_token %}
                                        <label for="" class="col-sm-12 col-md-3">Document</label>
                                        <div class="col-sm-12 col-md-6">
                                            {{ fileUploadForm.document }}
                                        </div>
                                        <div class="col-sm-12 col-md-3">
                                            <button type="submit" form="uploadDocumentForm"
                                                    class="btn btn-primary w-100">
                                                Upload
                                            </button>
                                        </div>
                                    </form>
                                {% endif %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Add Entry</th>
                                        <th scope="col">Follow Up</th>
                                        {% if user.is_space_owner %}
                                            <th scope="col">Data</th>
                                            <th scope="col">Responses</th>
                                            <th scope="col">Delete</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for file in space.files.all %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ file.file_name }}</td>

                                            <td>
                                                <a target="_blank"
                                                   href="{% url 'spaces_submit_entry' space_id=space.pk file_id=file.pk %}"
                                                   class="btn btn-outline-primary"> Add Response</a>
                                            </td>
                                            <td>
                                                <a target="_blank"
                                                   href="{% url 'spaces_follow_up' space_id=space.pk file_id=file.pk %}"
                                                   class="btn btn-outline-primary"> Follow Up </a>
                                            </td>
                                            {% if user.is_space_owner %}
                                                <td>
                                                    {% if file.web_content_link %}
                                                        <a target="_blank" href="{{ file.web_content_link }}"
                                                           class="btn btn-outline-primary">Open Data</a>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if file.response_file.web_content_link %}
                                                        <a target="_blank"
                                                           href="{{ file.response_file.web_content_link }}"
                                                           class="btn btn-outline-primary">Open Responses</a>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a class="btn btn-outline-danger"
                                                       href="{% url  'spaces_file_delete' space_id=space.pk file_id=file.pk %}">
                                                        Delete
                                                    </a>
                                                </td>
                                            {% endif %}

                                        </tr>
                                    {% empty %}
                                        No files added
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            {% if user.is_space_owner %}
                                <div class="tab-pane fade profile-edit pt-3" id="space-admin">
                                    <div class="alert alert-info">
                                        You can directly create a new user and add it as a manager or a writer.
                                        To add an already existing user, please use Add Field in Writers or Managers
                                        tab.
                                    </div>
                                    <div class="card-title">
                                        Create new User and add it to space as Manager

                                        <form method="post" action="{% url 'spaces_create_manager' space_id=space.pk %}"
                                              class="mt-2">
                                            {% csrf_token %}
                                            {% for form_field in createUserAsManagerForm %}
                                                <div class="row mb-1">
                                                    <label for="{{ form_field.id_for_label }}"
                                                           class="col-3 col-form-label-sm">
                                                        {{ form_field.label }}
                                                    </label>
                                                    <div class="col-9">
                                                        {{ form_field }}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <button class="btn btn-primary" type="submit">
                                                Create
                                            </button>
                                        </form>
                                    </div>
                                    <div class="card-title">
                                        Create new User and add it to space as Writer
                                        <form method="post" action="{% url 'spaces_create_writer' space_id=space.pk %}"
                                              class="mt-2">
                                            {% csrf_token %}
                                            {% for form_field in createUserAsWriterForm %}
                                                <div class="row mb-1">
                                                    <label for="{{ form_field.id_for_label }}"
                                                           class="col-3 col-form-label-sm">
                                                        {{ form_field.label }}
                                                    </label>
                                                    <div class="col-9">
                                                        {{ form_field }}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <button class="btn btn-primary" type="submit">
                                                Create
                                            </button>
                                        </form>
                                    </div>
                                </div>

                            {% endif %}

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </section>
    </main><!-- End #main --
{% endblock %}
