{% extends "common/base.html" %}
{% load static %}

{% block title %}
    Dashboard - NiceAdmin Bootstrap Template
{% endblock %}
{% block content %}

    {% include "common/header.html" %}

    {% include "common/sidebar.html" %}

    <main id="main" class="main">
        <section class="section profile">
            <div class="row">

                <div class="pagetitle">
                    <h1> Add response </h1>
                </div>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Space</li>
                        <li class="breadcrumb-item"><a href="{% url 'spaces_overview' space_id=space.pk %}">
                            {{ space.owner.get_full_name }}
                        </a></li>
                        <li class="breadcrumb-item active">Add response</li>
                    </ol>
                </nav>
                <div class="card">

                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <div class="profile-overview">
                            <h5 class="card-title">{{ data_file.file_name }}</h5>
                            {% if valid %}
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                    <div class="col-lg-9 col-md-8">{{ name }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Parent's Name</div>
                                    <div class="col-lg-9 col-md-8">{{ parent_name }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Phone</div>
                                    <div class="col-lg-9 col-md-8">{{ phone_number }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Education</div>
                                    <div class="col-lg-9 col-md-8">{{ education }}</div>
                                </div>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="label col-12">Status:</div>
                                        {{ form.status }}
                                    </div>
                                    <div class="row">
                                        <div class="label col-12">Response:</div>

                                        {{ form.response }}
                                        <button type="submit" class="btn btn-primary mt-3">Add Response</button>
                                    </div>
                                </form>
                            {% else %}
                                <p>The data is not valid. Please fix the issue and reload the page.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main --
{% endblock %}
