{% extends "common/base.html" %}
{% load static %}

{% block title %}
    Home - NiceAdmin Bootstrap Template
{% endblock %}
{% block content %}

    {% include "common/header.html" %}

    {% include "common/sidebar.html" %}

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Home</h1>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">
                <div class="card info-card ">
                    <div class="card-body justify-content-center">
                        <h4 class="card-title">
                            Welcome to the Portal 💐.
                        </h4>
                        Select spaces section on the left sidebar to continue.
                    </div>
                </div>
            </div>
            <div class="row">

                {% if user.is_superuser %}
                    <div class="row">
                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">Recent Activity <span>Latest 50 | <strong>Make sure to delete older entries.</strong> -> <a
                                        href="{% url 'portal_recent_activity' %}">See All and Manage</a> </span></h5>

                                <form method="post" action="{% url 'portal_recent_activity' %}">
                                    {% csrf_token %}
                                    <div class="row mb-3">
                                        <label for="{{ form.timeframe.id_for_label }}" class="col-md-3 col-form-label">{{ form.timeframe.label }}</label>
                                        <div class="col-md-5">
                                            <input type="date" id="{{ form.timeframe.id_for_label }}" name="timeframe" class="form-control" required>
                                        </div>
                                        <button class="btn btn-warning col-md-4" type="submit">Delete the entries</button>
                                    </div>
                                </form>
                                <div class="activity">

                                    {% for log_entry in log_entries %}
                                        <div class="activity-item d-flex">
                                            <div class="activite-label"
                                                 style="padding-right: 5px">{{ log_entry.timestamp | timesince }}</div>
                                            <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                                            <div class="activity-content">
                                                {{ log_entry.actor }} {{ log_entry }} <a
                                                    href="admin/auditlog/logentry/{{ log_entry.pk }}/change/">See
                                                details..</a>
                                            </div>
                                        </div><!-- End activity item-->
                                    {% empty %}
                                        <p>
                                            Everything is clear 🙂
                                        </p>

                                    {% endfor %}

                                </div>

                            </div>
                        </div><!-- End Recent Activity -->

                    </div>

                {% endif %}

            </div>
        </section>

    </main><!-- End #main -->
{% endblock %}
