{% extends "common/base.html" %}
{% load static %}

{% block title %}
    Home - NiceAdmin Bootstrap Template
{% endblock %}
{% block content %}

    {% include "common/header.html" %}

    {% include "common/sidebar.html" %}

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Recent Activity</h1>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">
                <div class="row">
                    <div class="card">

                        <div class="card-body">
                            <h5 class="card-title">Recent Activity <span>All</span></h5>

                            <form method="post">
                                {% csrf_token %}
                                <div class="row mb-3">
                                    <label for="{{ form.timeframe.id_for_label }}" class="col-md-3 col-form-label">{{ form.timeframe.label }}</label>
                                    <div class="col-md-5">
                                        <input type="date" id="{{ form.timeframe.id_for_label }}" name="timeframe" class="form-control" required>
                                    </div>
                                    <button class="btn btn-warning col-md-4" type="submit">Delete the entries</button>
                                </div>
                            </form>
                            <div class="activity">

                                {% for log_entry in log_entries %}
                                    <div class="activity-item d-flex">
                                        <div class="activite-label"
                                             style="padding-right: 5px">{{ log_entry.timestamp | timesince }}</div>
                                        <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                                        <div class="activity-content">
                                            {{ log_entry.actor }} {{ log_entry }} <a
                                                href="/admin/auditlog/logentry/{{ log_entry.pk }}/change/"
                                                target="_blank"
                                        >See
                                            details..</a>
                                        </div>
                                    </div><!-- End activity item-->
                                    {% empty %}
                                    <p>
                                    Everything is clear 🙂
                                    </p>
                                {% endfor %}

                            </div>

                        </div>
                    </div><!-- End Recent Activity -->

                </div>

            </div>
        </section>

    </main><!-- End #main -->
{% endblock %}
